<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="friction" params="reference mu">
    <gazebo reference="${reference}">
      <mu1>${mu}</mu1>
      <mu2>${mu}</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>
  </xacro:macro>

  <!-- <xacro:friction reference="right_wheel" mu="0.1" />
  <xacro:friction reference="left_wheel" mu="0.1" /> -->
  <xacro:friction reference="caster_front_link" mu="0.01" />
  <xacro:friction reference="caster_rear_link" mu="0.01" />
  <gazebo>
    <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

      <!-- Wheel Information -->
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <wheel_separation>0.266</wheel_separation>
      <wheel_diameter>0.165</wheel_diameter>


      <!-- Limits -->
      <max_wheel_torque>200</max_wheel_torque>
      <max_wheel_acceleration>10.0</max_wheel_acceleration>


      <!-- Output -->
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>

      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>

    </plugin>
  </gazebo>


</robot>